<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/textAnimation.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/social.css" type="text/css">
    <script type="text/javascript" src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type="text/javascript" src='http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js' ></script>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://ojyfslgzw.bkt.clouddn.com/modernizr.js"></script>
<style type="text/css">
#container>form{
    width: 60%;
    margin: 15% auto;
}
  form>.input-group{
    margin: 8% auto;
    height: 3%;

  }
 #container> form>.input-group-lg>.form-control{
    font-size: 4rem;

    height: 8rem;

 }
  #container> form>.input-group-lg>#sizing-addon1{
    font-size: 4rem;

 }
 #container> form>.btn-default{
    height: 7.5rem;
padding-right: 4.5%;
padding-left: 4.5%;
    font-size: 5rem;
    margin:5% 10%;
 }
</style>
</head>
<body>
<!-- <header>
    <% var home = info.mainSite+":2000/main/" + info.openid %>
    <a class="button" href=<%= home %>><img src="/images/heart.svg"></a>

</header> -->

<div id="container" style="display: block;">
    <!--标题变换动画-->
    <section class="cd-intro" style="color: white;">
        <h1 class="cd-headline letters scale">
            <span>Hello!&nbsp </span>
      <span class="cd-words-wrapper" >
        <b class="is-visible"><i class="in">C</i><i class="in">Q</i><i class="in">Y</i><i class="in">O</i><i class="in">U</i><i
                    class="in">e</i><i class="in">r</i><i class="in">!</i></b>
        
      <b><i class="out">(</i><i class="out">｡</i><i class="out">・</i><i class="out">`</i><i class="out">ω</i><i
                  class="out">´</i><i class="out">･</i><i class="in">)</i></b>
      <b><i class="out">ヽ</i><i class="out">(</i><i class="out">･</i><i class="out">ω</i><i class="out">･</i><i
                  class="out">｡</i><i class="out">)</i><i class="in">ﾉ</i></b>
       <b><i class="out">(</i><i class="out">｡</i><i class="out">◕</i><i class="out">ˇ</i><i class="out">∀</i><i
                   class="out">ˇ</i><i class="out">◕</i><i class="in">)</i></b>
      </span>
        </h1>
    </section>
    <% var bindUrl = info.mainSite+":2000/bind/" + info.openid %>

    <span class="title" style="color: white;">绑定教务账号</span>
    <form method="post" action=<%=bindUrl%>  >
     <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">学号:</span>
  <input type="text" class="form-control" placeholder="教务网账号" aria-describedby="sizing-addon1" name="id">
</div>
     <div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">密码:</span>
  <input type="text" class="form-control" placeholder="教务网密码" aria-describedby="sizing-addon1" name="password">
</div>
<input class="btn btn-default" type="submit" value="取消">
<input class="btn btn-default" type="submit" value="绑定">
    </form>


</div>

<% if (info.message=="success") {
<script type="text/javascript">alert("绑定成功")</script>
}
%>
<% if (info.message=="fail") {
<script type="text/javascript">alert("账号密码有误")</script>
}
%>


<script type="text/javascript" src="/javascripts/textAnimation.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>