<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/textAnimation.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/social.css" type="text/css">
    <script src="http://ojyfslgzw.bkt.clouddn.com/modernizr.js"></script>
</head>
<body>
<!-- <header>
    <% var home = info.mainSite+":2000/main/" + info.openid %>
    <a class="button" href=<%= home %>><img src="/images/heart.svg"></a>

</header> -->

<div id="container" style="display: block;">
    <!--标题变换动画-->
    <section class="cd-intro">
        <h1 class="cd-headline letters scale">
            <span>Hello!&nbsp </span>
      <span class="cd-words-wrapper" >
        <b class="is-visible"><i class="in">·</i><i class="in">小</i><i class="in">颜</i><i class="in">狗</i><i class="in">·</i><i
                    class="in">e</i><i class="in">r</i><i class="in">!</i></b>
        
      <b><i class="out">(</i><i class="out">｡</i><i class="out">・</i><i class="out">`</i><i class="out">ω</i><i
                  class="out">´</i><i class="out">･</i><i class="in">)</i></b>
      <b><i class="out">ヽ</i><i class="out">(</i><i class="out">･</i><i class="out">ω</i><i class="out">･</i><i
                  class="out">｡</i><i class="out">)</i><i class="in">ﾉ</i></b>
       <b><i class="out">(</i><i class="out">｡</i><i class="out">◕</i><i class="out">ˇ</i><i class="out">∀</i><i
                   class="out">ˇ</i><i class="out">◕</i><i class="in">)</i></b>
      </span>
        </h1>
    </section>
    <span class="title">颜狗圈</span>
    <div class="icon">
        <a><img src="/images/logo.png">该版面暂时无内容</a>
    </div>


</div>

<span class="footTitle">有好玩想法的欢迎与我私聊</span>
<span class="footTitle">微信：342510588</span>

<script type="text/javascript" src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
<script type="text/javascript" src="/javascripts/textAnimation.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>