<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/textAnimation.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <script src="/javascripts/modernizr.js"></script>
</head>
<body>

<div id="container" style="display: block;">
    <p style="display: none;" id="id"><%= info.id %></p>

    <p style="display: none;" id="pwd"><%= info.pwd %></p>
    <!--标题变换动画-->
    <section class="cd-intro">
        <h1 class="cd-headline letters scale">
            <span>Hello!&nbsp </span>
      <span class="cd-words-wrapper" style="width: 123px;">
        <b class="is-visible"><i class="in">C</i><i class="in">Q</i><i class="in">Y</i><i class="in">O</i><i class="in">U</i><i
                    class="in">e</i><i class="in">r</i><i class="in">!</i></b>
         <b><i class="out">(</i><i class="out">●</i><i class="out">'</i><i class="out">◡</i><i class="out">'</i>●<i
                     class="out">)</i><i class="out">ﾉ</i><i class="in">♥</i></b>
      <b><i class="out">(</i><i class="out">｡</i><i class="out">・</i><i class="out">`</i><i class="out">ω</i><i
                  class="out">´</i><i class="out">･</i><i class="in">)</i></b>
      <b><i class="out">ヽ</i><i class="out">(</i><i class="out">･</i><i class="out">ω</i><i class="out">･</i><i
                  class="out">｡</i><i class="out">)</i><i class="in">ﾉ</i></b>
       <b><i class="out">(</i><i class="out">｡</i><i class="out">◕</i><i class="out">ˇ</i><i class="out">∀</i><i
                   class="out">ˇ</i><i class="out">◕</i><i class="in">)</i></b>
      </span>
        </h1>
    </section>
    <div class="icon">
        <a href=""><img src="/images/pencil.svg">本学期成绩</a>
        <a href=""><img src="/images/notebook.svg">当前课表</a>
        <a href=""><img src="/images/telephone.svg">所有成绩</a>
        <a href=""><img src="/images/chat.svg">胡八聊</a>

    </div>


</div>
<span class="footTitle">CQYOU always be there for you</span>

<script type="text/javascript" src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
<script type="text/javascript" src="/javascripts/textAnimation.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>