@charset "UTF-8";
html{
    padding: 0;
    margin: 0;
    position: relative;
    background: url("http://ojyfslgzw.bkt.clouddn.com/body.jpg");
    background-repeat: repeat;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    font-size: 14px;
}
body {
     display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background: url("http://ojyfslgzw.bkt.clouddn.com/body.jpg");
    background-repeat: repeat;
    color: #fff;
    letter-spacing: 1px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    font-size: 14px;

}



#container {

    display: block;
    padding-top: 10px;
    width: 87%;
    margin: 0 auto;
}

table {
    margin: 4% auto;
    font-size: 30px;
    font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
    height: 120%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 93%;
    -webkit-box-shadow: 0px 2px 1px 5px rgba(242, 242, 242, 0.1);
    box-shadow: 0px 2px 1px 5px rgba(242, 242, 242, 0.1);
}

.zebra {
    border: 1px solid #555;
}

.zebra td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    padding: 1.2rem 0rem;
    text-align: center;
}

.zebra th,
.zebra th:hover {
    border-left: 1px solid #555;
    border-bottom: 1px solid #828282;
    padding: 20px;
    background-color: #151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image: -moz-linear-gradient(top, #151515, #404040) !important;
    background-image: -ms-linear-gradient(top, #151515, #404040) !important;
    background-image: -o-linear-gradient(top, #151515, #404040) !important;
    background-image: linear-gradient(top, #151515, #404040) !important;
    color: #fff !important;
    font-weight: normal;
}

.zebra tbody tr:nth-child(even) {
    background: #000 !important;
    color: #fff;
}

.loader {
    margin: 40% 45%;
}

.ball-scale-ripple-multiple > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
}

.zebra tr:hover * {
    background: #eeeeee;
    color: #000;
}

.zebra tr {
    background: #404040;
    color: #fff;
}
header{
    width: 100%;
    margin-top: 7%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
}
header .button {
    color: #ffffff;
    font-size: 26px;
    padding: 8px;
    text-decoration: none;
    border-radius: 100%;
    position: absolute;
    left: 4rem;
    top: 4rem;
}

header .button:hover {
    color: white;
}

header h1 {
    font-size: 4rem;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

body .totallInfo{
    width: 20rem;
    font-size: 2rem;
    padding: 2% 4%;
    margin-top: 1%;
    text-align: center;
    border: solid white 1px;
    border-radius: 20px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
header a img{
    width: 8rem;
}
.footTitle{
    font-size: 2rem;

    margin: 3rem auto;
}