html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background: url("http://ojyfslgzw.bkt.clouddn.com/body.jpg");
    background-repeat: repeat;
    color: #fff;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
	justify-content: center;
}
.container {
    margin: 12% auto;
}

a {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion {
    padding-right: 35px;
    padding-left: 24px;
    z-index: 1;
}

#accordion .panel {
    box-shadow: none;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0;
}

#accordion .panel-title {
    padding: 0;
}

#accordion .panel-title a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    background: #52616B;
    color: #E3E8EC;
    padding: 15px 15px;
    padding-right: 25px;
    position: relative;
    margin-left: -24px;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed {
    background: #E3E8EC;
    color: #52616B;
    margin-left: 0;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a:before {
    content: "";
    border-left: 24px solid #52616B;
    border-top: 24px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    right: -24px;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    border-left-color: #E3E8EC;
}

#accordion .panel-title a:after {
    content: "\21E9";
    position: absolute;
    top: 30%;
    right: 15px;
    font-size: 18px;
    color: #E3E8EC;
}

#accordion .panel-title a.collapsed:after {
    content: "\21E8";
    color: #52616B;
}

#accordion .panel-collapse {
    position: relative;
}

#accordion .panel-collapse.in:before {
    content: "";
    border-right: 24px solid #E3E8EC;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -24px;
}

#accordion .panel-body {
    font-size: 14px;
    color: #333;
    background: #FCFCFC;
    border-top: none;
    z-index: 1;
}

header .button {
    color: #ffffff;
    font-size: 26px;
    padding: 8px;
    text-decoration: none;
    border-radius: 100%;
    border: solid white 1px;
    position: absolute;
    left: 15px;
    top: 15px;
}

header .button:hover {
    color: white;
}

header h1 {
    font-size: 30px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

header div {
    position: absolute;
    padding: 1% 3%;
    width:80%;
    top:13%;
    margin-top: 1%;
    text-align: center;
    border: solid white 1px;
    border-radius: 20px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
