html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background: url("http://ojyfslgzw.bkt.clouddn.com/body.jpg");
    background-repeat: repeat;
    color: #fff;
    letter-spacing: 1px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
}

header {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
}

.container {
    box-sizing: border-box;
    background-image: url("http://ojyfslgzw.bkt.clouddn.com/gradeBorder.png");
    background-size: contain;
    -webkit-background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 86%;
    margin: 0 5%;
    position: relative;
    padding: 0px;
}

.container .grade {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding-right: 11%;
    padding-left: 11%;
    top: 30%;
    overflow: scroll;

}

.container p {
    font-size: 0.8em;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    color: #FDECC1;
    text-align: center;
    margin-bottom: 2px;
}

a {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion {
    padding-right: 35px;
    padding-left: 24px;
    z-index: 1;
}

#accordion .panel {
    box-shadow: none;
}

#accordion .panel-heading {
    padding: 0;
    border-radius: 0;
}

#accordion .panel-title {
    padding: 0;
}

#accordion .panel-title a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    background: #52616B;
    color: #E3E8EC;
    padding: 15px 15px;
    padding-right: 25px;
    position: relative;
    margin-left: -24px;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed {
    background: #E3E8EC;
    color: #52616B;
    margin-left: 0;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a:before {
    content: "";
    border-left: 24px solid #52616B;
    border-top: 24px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    right: -24px;
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    border-left-color: #E3E8EC;
}

#accordion .panel-title a:after {
    content: "\21E9";
    position: absolute;
    top: 30%;
    right: 15px;
    font-size: 18px;
    color: #E3E8EC;
}

#accordion .panel-title a.collapsed:after {
    content: "\21E8";
    color: #52616B;
}

#accordion .panel-collapse {
    position: relative;
}

#accordion .panel-collapse.in:before {
    content: "";
    border-right: 24px solid #E3E8EC;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -24px;
}

#accordion .panel-body {
    font-size: 14px;
    color: #333;
    background: #FCFCFC;
    border-top: none;
    z-index: 1;
}

header .button {
    color: #ffffff;
    font-size: 26px;
    padding: 8px;
    text-decoration: none;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 15px;
}

header .button:hover {
    color: white;
}

header h1 {
    font-size: 30px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

body .totallInfo {
    padding: 3% 4%;
    top: 12%;
    margin-top: 1%;
    text-align: center;
    border: solid white 1px;
    border-radius: 20px;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

header a img {
    width: 2rem;
}

.panel-body p {
    font-weight: 500;
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}
